# Ignore all data folders at any level
data/
HW1/data/

# Ignore all 课件 folders at any level
课件/
logs/
report/
results/


# 忽略 HW2 下的 LibriSpeech 数据集与相关压缩包
HW2/LibriSpeech/
HW2/train-clean-100.tar.gz

